@model GTHRM.Models.Shift

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftLate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftLate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShiftId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
