@model GTHRM.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shift.ShiftName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shift.ShiftName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gross)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Basic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Basic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Others)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Others)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dtJoin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dtJoin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation.DesigName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
