@model GTHRM.Models.Attendance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.appStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.appStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.outTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.outTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmpCode)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
