@model IEnumerable<GTHRM.Models.Attendance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ProcessStatus" method="post">
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="Date">
                <input type="submit" value="Process Status" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div class="row">
    <div class="col-md-6">
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
    </div>
    <div class="col-md-6">
        <form asp-action="ProcessStatus" method="post">
            <div class="form-group">
                <label for="date">Daily Process:</label>
                <input type="date" id="date" name="Date">
                <input type="submit" value="Process Status" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.outTime)
            </th>
            
            <th class="text-center">
                @Html.DisplayNameFor(model => model.appStatus)
            </th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmpName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dtDate)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.inTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.outTime)
            </td>
            <td class="text-center">
                    @Html.DisplayFor(modelItem => item.appStatus)
            </td>
            <td class="text-center">
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    <a asp-action="Edit" asp-route-id="@item.EmpId" asp-route-date="@item.dtDate" class="btn btn-warning">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.EmpId" asp-route-date="@item.dtDate" class="btn btn-success">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.EmpId" asp-route-date="@item.dtDate" class="btn btn-danger">Delete</a> 
                   
            </td>
        </tr>
}
    </tbody>
</table>
